# Python
__pycache__/
**/__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual env
env/
venv/
ENV/

# VSCode
.vscode/

# Node
node_modules/

# Build
build/
dist/

# OS
.DS_Store
Thumbs.db

# Docker
*.pid

# Logs
*.log

# Misc
*.sqlite3
*.db

# Ignore environment files in any subfolder
**/.env

# Coverage
htmlcov/
.coverage

# Jupyter
.ipynb_checkpoints/

# Others
*.egg-info/
*.egg

# Ignore all pycache recursively
**/__pycache__/

